.daily-summary {
  margin-bottom: 10px;
}

.daily-summary h2 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}


.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.summary-table th,
.summary-table td {
  border: 2px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 8px;
  text-align: center;
}

.summary-table th{
  border-bottom: 2px solid #000000;
  border-top: none;
  font-size: 14px;
}

.summary-sum{
  border-bottom: 2px solid #000000;
  border-top: none;
  font-size: 14px;
}